.jumbotron{
	background-color : green;
	margin-top: 50px;
	color : white;
}


footer{

    padding: 10px 10px 0px 10px;
    background-color: green;
    color: black;
    margin-bottom: 0px;
    margin-top: 10px;
 
}

.card-compu{
	flex: 1 200px;
	margin-top: 10px;

}

.btn-ver{
	width: 100%;
	border-radius: 0px;

}

.footer-address-icon{
	padding-right: 10px;
}

